@model IEnumerable<Approg3_lab.Models.PersonModels>

@{
    ViewBag.Title = "Team";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h1>People</h1>
@Html.ActionLink("Create New", "Create")

<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Position
        </th>
       
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", "People", new { id = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.ActionLink("Update", "Edit", new { id = item.Id })
                |
                @Html.ActionLink("Details", "Details", new {id = item.Id})
                |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
}
    </tbody>
</table>